<h2>Credit Card System</h2>

Add
<br>
<br>
<div [formGroup] = "formdata" >
  <label for="name">Name</label><br>
  <input formControlName="name" type="text" id="name" name="name" ><br><br>
  <label for="card-number">Card Number</label><br>
  <input formControlName="cardNumber" type="number" id="card-number" name="card-number" ><br><br>
  <label for="limit">Limit</label><br>
  <input formControlName="limit" type="text" id="limit" name="limit"><br><br>
  <input (click) = "onClickSubmit(formdata.value)" type="submit" value="Add">
</div> 

<h2>Existing Cards</h2>
<div class="container">
<table class="table table-striped table-bordered table-hover"> 
  <tr >
    <th>Name</th>
    <th>Card Number</th>
    <th>Balance</th>
    <th>Limit</th>
  </tr>
    <tr *ngFor="let data of card_data">
      <td>{{data.UserName }}</td>
      <td>{{data.CardNumber }}</td>
      <td>{{data.CardLimit  }}</td>
      <td>{{data.Balance }}</td>
    </tr>
    </table>
  </div>